.listItem_section_inputField {
		
	margin: 0;
	padding: 0;

	display: flex;
	align-items: center;
	justify-content: center;
}

.listItem_section_interTask {
	box-sizing: border-box;
	display: inline-block;
	height: 60%;
	width: 80%;

	padding: 0 10px;

	font: 20px arial;
	outline: none;

	border-radius: 10px 0 0 10px;
}

.listItem_section_acceptTask {
	box-sizing: border-box;
	display: inline-block;
	height: 60%;
	width: 40px;
	font: bold 25px arial;
	text-shadow: .5px .5px 1px lime, 1px 1px 1px yellow, 0 0 3px black;;
	color: white;
	border-radius: 0 10px 10px 0;
	background-color: transparent;
	transition: color .25s;
}

.listItem_section_acceptTask span {
	position: relative;
}

.listItem_section_acceptTask:hover {
	color: lime;
}
.listItem_section_acceptTask:active span{
	top: 2px;
	left: 2px;
}